body {
    background-image: url(landscape-macbook-3840x2160-10760\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFFFFF;
}

.a {
    text-align: center;
    font-family: "Rubik Doodle Shadow";
    color: black;
}

* {
    margin: 5px;
    padding: 2px 20px;
}

div {
    border: 5px solid rgb(0 0 0)
}

.container {
    margin: 15px 40px;
    height: 350px;
}

.inner1 {
    width: 530px;
    height: 100px;
    margin: 10px 20px;
}